{
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSameLine": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "**/*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "astroAllowShorthand": true,
  "svelteStrictMode": false,
  "svelteIndentScriptAndStyle": true
}
